body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadded;
  border-radius: 10px;
  background-image: url("https://image.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg");
}

h1 {
  font-size: 24px;
  font-weight: 400px;
  font-size: x-large;
}

ul {
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}
li {
  list-style: none;
  font-size: 14px;
  font-weight: lighter;
}

form {
  margin-bottom: 15px;
}

small {
  font-size: 10px;
  margin: 30px auto;
}
.weather-description {
  margin-bottom: 15px;
}
.temperature img {
  float: left;
  margin-right: 15px;
  height: 70px;
  width: 70px;
}
.temperature strong {
  font-size: 50px;
  font-weight: 100px;
  margin-right: 10px;
}

.temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.units {
  position: relative;
  font-size: 18px;
  top: -20px;
}

.card-body {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.card-body img {
  display: block;
  margin: 0 auto;
}

.link {
  color: white;
}

.btn-primary {
  color: black;
  background-color: white;
  border: none;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: blue;
}
